.navbar {
  background-color: white;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 1.5rem;
  display: flex;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
.oreilly-logo {
  max-height: 30px;
  margin-right: 1rem;
}

.nav-link,
.nav-dropdown {
  font-size: 14px;
  color: #333;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-dropdown {
  color: #bf1f23;
}

.nav-dropdown {
  font-size: 14px;
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-input {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}

.search-button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.2rem;
}

.search-button:hover {
  color: #bf1f23;
}

.profile-icon {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1rem;
  cursor: pointer;
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.hover-dropdown .dropdown-menu {
  display: none;
}

.hover-dropdown .dropdown-item {
  cursor: pointer;
}

.hover-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
}
